# Python
school-ai-agent/venv/
school-ai-agent/__pycache__/
*.pyc
.env

# Node
school-api/node_modules/
school-api/dist/
dynamic-mcp-server/node_modules/
dynamic-mcp-server/dist/


# General
.DS_Store